body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 20px;
  }
  
  .topic_search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .topic-list {
    list-style: none;
    padding: 0;
  }
  
  .topic-list li {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .topic-list li:hover {
    background-color: #f8f9fa;
  }
  